<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!--<add name="ICSConnectionString" connectionString="Data Source=.\sqlexpress;Initial Catalog=ICSDatabase;Integrated Security=True" providerName="System.Data.SqlClient"/>-->
    <add name="ICSConnectionString" connectionString="Data Source=.\sqlexpress;Initial Catalog=Hamdard;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <!--<add name="ICSConnectionString" connectionString="workstation id=ICSDatabase.mssql.somee.com;packet size=4096;user id=tasawarahmed_SQLLogin_1;pwd=p9758gko3w;data source=ICSDatabase.mssql.somee.com;persist security info=False;initial catalog=ICSDatabase"
            providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <system.web>
    <compilation targetFramework="4.0" debug="true"/>
    <httpRuntime maxRequestLength="1048576" />
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
</configuration>